<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoC.Glass.Mapper.Sc.CastleWindsor" version="4.2.0.1" targetFramework="net45" />
  <package id="BoC.Glass.Mapper.Sc.Core" version="4.2.0.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Glass.Mapper" version="3.0.15.32" targetFramework="net45" />
  <package id="Glass.Mapper.Sc" version="4.2.0.184" targetFramework="net45" />
  <package id="Glass.Mapper.Sc.Core" version="4.2.0.184" targetFramework="net45" />
  <package id="Glass.Mapper.Sc.Mvc-5" version="3.3.1.48" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
</packages>